// reponsive cho màn hình 1919px
@media only screen and (max-width:1919px) {
  .nav1 {
    padding: 0 10%;
    ul {
      width: calc(100% - 170px);
      li {
        &:first-child {
          min-width: 250px;
        }
        width: 30%;
        margin-right: 0%;
        &:nth-child(2){
          margin-right: 0%;
        }
      }
    }
    &__language { 
      width: 170px; 
    }
  }
  .logo {
    padding: 0 10%;
    &__left {
      width: unset;
      a {
        padding-top: 12%;
      }
    }
    &__right {
      float: right;
      &--border {
        width: calc(100% - 160px);
        select {
          width: 30%;
          font-size: 11px;
        }
        input {
          width: 58%;
        }
      }
      &--img {
        padding: unset;
        width: 80px;
        padding-top: 8px;
        float: right;
        height: 41px;
        &--x {
          float: right;
        }
      }
    }
  }
  .nav2 {
    padding: 0 10%;
    &__right {
      padding-left: 12%;
      ul {
        li {
          width: 16.66%;
          text-align: right;
          a {
            padding: unset !important;
          }
        }
      }
    }
  }
  .banner {
    &__text {
      left: 15%;
    }
    &__a {
      left: 15%;
    }
  }
  .nav3{
    padding: 0 10%;
    &__a {
      ul {
        padding: 62px 0;
        li {
          a {
            img {
              margin: unset !important;
            }
            .nav3__a--text {
              margin-left: 12px;
              width: calc( 100% - 65px);
              h2 {
                font-size: 15px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .nav4 {
    padding: 0px 10%;
    max-height: unset;
    &__left {
      a {
        display: block;
      }
      &--text {
        h4 {
          font-size: 28px;
        }
      }
      &--time{
        ul {
          padding: 0% 27% 0 27%;         
          li {
            width: 20%;
            display: flex;
            div {
              display: inline;
              margin: auto;
              span {
                line-height: 1.5;
                font-size: 20px;
              }
              p {
                margin-top: unset;
                line-height: 1.5;
              }
            }

          }
        }
      }
    }
    &__right {
      &--top {
        &--text {
          h3 {
            font-size: 55px;
          }
          h4 {
            font-size: 23px;
          }
          p {
            font-size: 17px;
          }
        }
      }
      &--dow {
        &--text {
          h4 {
            font-size: 26px;
          }
          p{
            font-size: 17px;
          }
        }
      }
    }
  }
  .nav5 {
    padding: 0 10%;
    &--text {
      h3 {
        font-size: 30px;
      }
    }
    &__right {
      min-width: 200px;
    }
  }
  .nav6 {
    padding: 0px 10%;
    max-height: none;
    &__img-top {
      ul {
        li {
          div {
            a {
              display: block;
            }
          }
          .nav6__img-top--a {

            padding: 7% 5% 0 7%;
            a {
              overflow: hidden;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }
            p {
              font-size: 12px;
            }
          }         
        }
      }
    }
  }
  .footer-top {
    padding: 0 10%;
    max-height: unset;
    &--img {
      ul {
        li {
          div {
            .a-text {
              height: unset;
              overflow: hidden;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              font-size: 15px;
            } 
            p {
              line-height: 2.5;
            }
          }
        }
      }
    }
  }
  .footer-dow {
    &__one {
      &--div {
        &--border {
          padding-top: unset;
          padding-left: 20px;
          display: flex;
          input {
            padding-left: unset;
            margin: auto;
            width: 73%;
          }
          button {
            margin: auto;
            height: 86%;
            border-radius: 50px;
            width: 23%;
          }
        }
      }
    }
    &__two {
      padding: 0 10%;
      ul {
        width: 100%;
        li {
          margin: unset;
          width: 20%;
          padding: 4% 0;
          img {
            width: 100%;
          }
        }
      }
    }
    &__three {
      padding: 0 10%;
      &--border {
        ul {
          li {
            width: 22%;
            margin: unset;
            max-width: unset;
            &:first-child {
              width: unset;
              max-width: unset;
              width: 34%;
            }
            &:nth-child(3) {
              padding-left: 3%;
            }
            &:last-child {
              margin: unset;
              padding-left: 7%;
            }
          }
          a {
            text-align: center;
          }
        }
      }
    }
    &__four {
      padding: 0 10%;
    }
  }
}

// Reponsive cho màn 1024px
@media only screen and (max-width:1024px) {
  .nav1 {
    padding: 0 4%;
    ul {
      width: calc(100% - 114px);
      li {
        &:first-child {
          min-width: unset;
        }
        width: 33%;
        .nav1--text {
          span {
            font-size: 11px;
          }
          p {
            font-size: 11px;
            line-height: 20px;
          }
        }
      }
    }
    &__language { 
      width: 114px; 
    }
  }
  .logo {
    padding: 0 4%;
    &__left {
      a {
        padding-top: 15%;
        img {
          width: 80%;
        }
      }
    }
    &__right {
      padding-left: unset;
      width: 70%;
      &--border {
        width: calc(100% - 130px);
        select {
          width: 30%;
          font-size: 11px;
        }
        input {
          width: 58%;
        }
      }
    }
  }
  .nav2 {
    padding: 0 4%;
    &__right {
      padding-left: 6%;
      ul {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .banner {
    &__text {
      left: 10%;
      p {
        font-size: 14px;
      }
    }
    &__a {
      left: 10%;
      a {
        font-size: 14px;
      }
    }
    &__slide {
      &--pew {
        top: 47%;
        width: 50px;
        border-top: 50px solid #ffffff;
        .fa-angle-left {
          top: -35px;
          right: 15px;
        }
        &:hover {
          border-top: 50px solid #0ca8c9;
        }
      }
      &--next {
        top: 47%;
        width: 50px;
        border-bottom: 50px solid #ffffff;
        .fa-angle-right {
          top: 15px;
          right: 15px;
        }
        &:hover {
          border-bottom: 50px solid #0ca8c9;
        }
      }
    }
  }
  .nav3{
    padding: 0 4%;
    &__a {
      ul {
        li {
          a {
            .nav3__a--text {
              width: calc( 100% - 53px);
              h2 {
                font-size: 13px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
  .nav4 {
    padding: 0px 4%;
    max-height: unset;
    &__left {
      &--text {
        h4 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      &--time{
        ul {        
          li {
            div {
              span {
                font-size: 18px;
                line-height: 1;
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    &__right {
      &--top {
        &--text {
          h3 {
            font-size: 40px;
          }
          h4 {
            font-size: 20px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      &--dow {
        &--text {
          h4 {
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
        }
      }
    }
  }
  .nav5 {
    padding: 0 4%;
  }
  .nav6 {
    padding: 0px 4%;
    &__img-top {
      ul {
        li {
          div {
            .nav6__img-top--a {
              a {
                font-size: 12px;
              }
              p {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
  .footer-top {
    padding: 0 4%;
    h2 {
      top: 16%;
      left: 42%;
    }
    &--img {
      ul {
        li {
          div {
            .a-text {
              font-size: 13px;
            } 
            p {
              font-size: 11px;
              a {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
  .footer-dow {
    &__one {
      &--text {
        p {
          font-size: 24px;
        }
        span {
          font-size: 12px;
        }
      }
      &--div {
        &--border {
          width: 80%;
          height: 60px;
          input {
            font-size: 13px;
          }
          button {
            font-size: 14px;
          }
        }
      }
    }
    &__two {
      padding: 0 4%;
    }
    &__three {
      padding: 0 4%;
      &--border {
        ul {
          li {
            a {
              font-size: 15px;
            }
            div {
              a {
                font-size: 11px;
              }
            }
            &:first-child {
              padding-right: 6%;
            }
          }
        }
      }
    }
    &__four {
      padding: 0 4%;
      p {
        font-size: 11px;
      }
      .obito {
        img {
          width: 70%;
        } 
      }
    }
  }
}

// Reponsive cho màn 768px
@media only screen and (max-width:768px) {
  .nav1 {
    padding: 0 2%;
    ul {
      width: calc(100% - 90px);
      li {
        width: 28%;
        &:hover {
          width: 200px;
        }
        &:last-child {
          width: 40%;
        }
      }
    }
    &__language { 
      width: 90px;
      select {
        width: 90px;
      }
    }
  }
  .logo {
    height: unset;
    &__left {
      margin: 0 auto;
      float: unset;
      padding: 20px;
      height: unset;
      a {
        padding: unset;
        text-align: center;
        width: auto;
        img {
          width: auto;
        }
      }
    }
    &__right {
      float: unset;
      width: unset;
      padding-top: unset;
      height: 66px;
      &--border {
        input {
          margin-left: unset;
          width: 40%;
          font-size: 11px;
        }
      }
    }
  }
  .nav2 {
    padding: unset;
    padding-left: 2%;
    &__over {
      span {
        font-size: 14px;
      }
      ul {
        li {
          width: 200px;
          height: 30px;
          font-size: 12px;
          line-height: 30px;
          span {
            line-height: 30px;
          }
          &:first-child {
            ul {
              left: 200px;
              li {
                width: 150px;
                height: 30px;
                line-height: 30px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    &__right {
      position: relative;
      ul {
        width: unset;
        position: absolute;
        z-index: 1;
        right: 0px;
        height: auto;
        width: 100px;
        &:hover li {
          display: block;
        }
        li {
          float: unset;
          width: unset;
          display: none;
          text-align: center;
          &:hover {
            background-color: darkseagreen;
          }          
          a {
            font-size: 14px;
            color: black;
          }
          &:first-child {
            display: block;
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .banner {
    &__text {
      left: 20%;
      h3 {
        margin-bottom: unset;
      }
      p {
        margin-top: unset;
        font-size: 12px;
      }
    }
    &__a {
      left: 20%;
      a {
        font-size: 12px;
      }
    }
  }
  .nav3{
    padding: 0 2%;
    &__a {
      ul {
        display: block;
        padding: 20px 0;
        li {
          width: 50%;
          margin-bottom: 20px;
          a {
            .nav3__a--text {
              width: calc( 100% - 53px);
              h2 {
                font-size: 13px;
              }
              p {
                font-size: 12px;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
              }
            }
          }
        }
      }
    }
  }
  .nav4 {
    padding: 0px 2%;
    max-height: unset;
    display: block;
    &__left {
      float: unset;
      width: unset;
      margin: unset;
      img {
        width: 100%;
      }
      &--text {
        h4 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      &--time{
        ul {        
          li {
            span {
              font-size: 18px;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
    &__right {
      float: unset;
      width: 100%;
      &--top {
        margin: 20px 0;
      }
      &--dow {
        max-height: unset;
      }
    }
  }
  .nav5 {
    padding: 30px 2%;
    min-height: 100px;
    &--text {
      h2 {
        font-size: 38px;
      }
      h3 {
        top: 28px;
      }
    }
    &__right {
      min-width: 100px;
    }
  }
  .nav6 {
    padding: 0px 2%;
    &__img-top {
      ul {
        li {
          margin-right: unset;
          width: 50%;
          &:nth-child(odd) {
            padding-right: 10px;
          }
          &:nth-child(even) {
            padding-left: 10px;
          }
          .nav6__img-top--a {
            a {
              -webkit-line-clamp: 1;
            }
          }
        }
      }
    }
  }
  .footer-top {
    background-repeat: repeat;
    padding: 0 2%;
    h2 {
      top: 3.2%;
      left: 34%;
      font-size: 5vw;
    }
    h3 {
      font-size: 8vw;
    }
    &--img {
      ul {
        li {
          margin-right: unset;
          width: 100%;
          div {
            .a-text {
              max-width: unset;
              font-size: 14px;
              margin-top: 20px;
              text-align: center;
            } 
            p {
              font-size: 13px;
              text-align: center;
              margin-bottom: 30px;
              a {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
  .footer-dow {
    &__one {
      &--text {
        p {
          font-size: 20px;
          padding: 40px 0 20px;
          line-height: 1.5;
        }
        span {
          margin-top: 10px;
          line-height: 1;
          font-size: 12px;
        }
      }
      &--div {
        padding-bottom: 5px;
        &--border {
          height: 50px;
          width: 90%;
          input {
            font-size: 11px;
          }
          button {
            font-size: 11px;
            min-width: 90px;
          }
        }
      }
    }
    &__two {
      padding: 0 2%;
      ul {
        padding: 0 10%;
        li {
          width: 33.333%;
          &:nth-child(4) {
            float: left;
          }
          &:last-child {
            float: right;
          }
        }
      }
    }
    &__three {
      padding: 0 2%;
      display: inline-block;
      &--border {
        max-height: unset;
        margin: 0 auto 0px 40px;
        ul {
          display: inline-block;
          padding-top: 40px;
          li {
            &:first-child div{
              padding-top: 0px;
              margin-top: 12px;
            }
            margin-bottom: 20px;
            width: 50% !important;
            a {
              font-size: 15px;
            }
            div {
              a {
                font-size: 11px;
              }
            }
            &:nth-child(2) {
              padding-left: 12%;
            }
            &:last-child {
              padding-left: 12%;
            }
            &:first-child {
              padding-right: 6%;
            }
          }
        }
      }
    }
    &__four { 
      height: unset;  
      p {
        float: unset;
        font-size: 11px;
        line-height: 48px;
      }
      .obito {
        float: unset;
        a {
          margin-bottom: 12px;
        }
      }
    }
  }
}

// Reponsive cho màn hình 480px
@media only screen and (max-width:480px) {
  .logo {
    &__right {
      &--border {
        height: 38px;
        padding-left: 6px;
        width: calc(100% - 100px);
        select {
          font-size: 10px;
        }
        input {
          font-size: 10px;
        }
        button {
          width: 16%;
          height: 38px;

        }
      }
      &--img {
        padding-top: 6px;
        width: 65px;
        .fa-cog {
          font-size: 24px;
        }
        .fa-shopping-cart {
          font-size: 24px;
        }
      }
    }
  }
  .banner {
    &__text {
      p {
        font-size: 10px;
      }
    }
    &__a {
      a {
        font-size: 10px;
      }
    }
    &__slide {
      &--pew {
        top: 30%;
        width: 40px;
        border-top: 40px solid #ffffff;
        .fa-angle-left {
          top: -30px;
          right: 6px;
        }
        &:hover {
          border-top: 40px solid #0ca8c9;
        }
      }
      &--next {
        top: 30%;
        width: 40px;
        border-bottom: 40px solid #ffffff;
        .fa-angle-right {
          top: 10px;
          right: 10px;
        }
        &:hover {
          border-bottom: 40px solid #0ca8c9;
        }
      }
    }
  }
  .nav3 {
    &__a {
      ul {
        li { 
          a {
            .nav3__a--text {
              padding-top: 8px;
              h2 {
                font-size: 11px;
              }
              p {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
  .nav4 {
    &__left {
      &--time {
        ul {
          padding: 0% 20%;
        }
      }
      &--text {
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
  .nav5 {
    &--text {
      h3 {
        top: 16px;
        font-size: 22px;
      }
      h2 {
        font-size: 28px;
      }
    }
    &__right {
      min-width: 80px;
    }
    .fas1 {
      font-size: 26px;
      line-height: 26px;
      margin-left: 12px;
    }
  }
  .nav6 {
    &__img-top {
      ul {
        li {
          div {
            .nav6__img-top--a {
              a {
                font-size: 10px;
                -webkit-line-clamp: 2;
              }
            }
          }
        }
      }
    }
  }
  .footer-top {
    h2 {
      top: 2.9%;
    }
    &--img {
      ul {
        li {
          div {
            .a-text {
              font-size: 12px;
            }
            p {
              font-size: 11px;
              a {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }
  .footer-dow {
    &__one {
      padding: 0 2%;
      &--div {
        &--border {
          width: 98%;
        }
      }
    }
    &__three {
      &--border {
        margin-left: 20px;
        ul {
          padding-top: 20px;
          li {
            margin-bottom: 0;
            &:first-child {
              padding-right: 0;
            }
            &:nth-child(2) {
              padding-left: 8%;
            }
            &:last-child {
              padding-left: 8%;
            }
            a {
              font-size: 14px;
            }
            .icon-mxh {
              a {
                padding-right: 18px;
                font-size: 12px;
              }
            }
            a.step1 {
              padding-left: 20px !important;
            }
            a.step2 {
              padding-left: 20px !important;
            }
            a.step3 {
              padding-left: 20px !important;
              overflow: hidden;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              display: -webkit-box;
            }
          }
        }
      }
    }
    .footer-dow {
      &__four {
        p {
          font-size: 10px;
        }
      }
    }
  }
}
