@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&amp;family=Roboto:wght@400;500&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto:wght@400;500&display=swap');
@import url('https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');


@color-while: #fff;
@color-black: #000;
@color-e21936: #e21936;
@color-014d93: #014d93;
@color-9bdae9: #9bdae9;

.font_body(@__size,@__line,@__color,@__weight,@__family,@__letter-spacing) {
    font-size: @__size;
    line-height: @__line;
    color: @__color;
    font-weight: @__weight;
    font-family: @__family;
    letter-spacing: @__letter-spacing;
}

@import '_header_acs';
@import '_top-banner';
@import '_about-acs';
@import '_events';
@import '_signup';
@import '_footer-acs';
@import '_responsive';
